<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>179.83</string>
	<key>angleVariance</key>
	<string>0.00</string>
	<key>blendFuncDestination</key>
	<string>1</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<string>1.000</string>
	<key>finishColorBlue</key>
	<string>1.000</string>
	<key>finishColorGreen</key>
	<string>0.157</string>
	<key>finishColorRed</key>
	<integer>0</integer>
	<key>finishColorVarianceAlpha</key>
	<integer>0</integer>
	<key>finishColorVarianceBlue</key>
	<integer>0</integer>
	<key>finishColorVarianceGreen</key>
	<integer>0</integer>
	<key>finishColorVarianceRed</key>
	<integer>0</integer>
	<key>finishParticleSize</key>
	<string>0.00</string>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>-0.02</string>
	<key>gravityy</key>
	<string>-0.64</string>
	<key>maxParticles</key>
	<string>400.25</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<integer>0</integer>
	<key>particleLifespanVariance</key>
	<string>1.90</string>
	<key>radialAccelVariance</key>
	<integer>0</integer>
	<key>radialAcceleration</key>
	<integer>0</integer>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>sourcePositionVariancex</key>
	<integer>0</integer>
	<key>sourcePositionVariancey</key>
	<integer>0</integer>
	<key>sourcePositionx</key>
	<string>157.760</string>
	<key>sourcePositiony</key>
	<string>364.640</string>
	<key>speed</key>
	<string>36.00</string>
	<key>speedVariance</key>
	<string>30.16</string>
	<key>startColorAlpha</key>
	<string>1</string>
	<key>startColorBlue</key>
	<string>0.000</string>
	<key>startColorGreen</key>
	<string>0.089</string>
	<key>startColorRed</key>
	<string>0.317</string>
	<key>startColorVarianceAlpha</key>
	<string>0.000</string>
	<key>startColorVarianceBlue</key>
	<string>0.000</string>
	<key>startColorVarianceGreen</key>
	<string>0.000</string>
	<key>startColorVarianceRed</key>
	<string>0.000</string>
	<key>startParticleSize</key>
	<string>17.88</string>
	<key>startParticleSizeVariance</key>
	<string>3.82</string>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<integer>0</integer>
	<key>textureFileName</key>
	<string>huixing.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
