<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<integer>360</integer>
	<key>angleVariance</key>
	<integer>360</integer>
	<key>blendFuncDestination</key>
	<string>771</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<string>-0.080</string>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<string>0.744</string>
	<key>finishColorBlue</key>
	<string>1.000</string>
	<key>finishColorGreen</key>
	<string>1.000</string>
	<key>finishColorRed</key>
	<string>1.000</string>
	<key>finishColorVarianceAlpha</key>
	<integer>0</integer>
	<key>finishColorVarianceBlue</key>
	<string>1.000</string>
	<key>finishColorVarianceGreen</key>
	<string>1.000</string>
	<key>finishColorVarianceRed</key>
	<string>1.000</string>
	<key>finishParticleSize</key>
	<string>4.00</string>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>-0.06</string>
	<key>gravityy</key>
	<string>0.14</string>
	<key>maxParticles</key>
	<string>49.53</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<integer>0</integer>
	<key>particleLifespanVariance</key>
	<string>0.44</string>
	<key>radialAccelVariance</key>
	<integer>0</integer>
	<key>radialAcceleration</key>
	<string>0.04</string>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>sourcePositionVariancex</key>
	<string>9.990</string>
	<key>sourcePositionVariancey</key>
	<string>3.355</string>
	<key>sourcePositionx</key>
	<string>159.562</string>
	<key>sourcePositiony</key>
	<string>240.214</string>
	<key>speed</key>
	<string>200.29</string>
	<key>speedVariance</key>
	<string>45.20</string>
	<key>startColorAlpha</key>
	<string>0.775</string>
	<key>startColorBlue</key>
	<string>1.000</string>
	<key>startColorGreen</key>
	<string>1.000</string>
	<key>startColorRed</key>
	<string>1.000</string>
	<key>startColorVarianceAlpha</key>
	<string>0.000</string>
	<key>startColorVarianceBlue</key>
	<string>1.000</string>
	<key>startColorVarianceGreen</key>
	<string>1.000</string>
	<key>startColorVarianceRed</key>
	<string>1.000</string>
	<key>startParticleSize</key>
	<string>4.00</string>
	<key>startParticleSizeVariance</key>
	<string>10.22</string>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<integer>0</integer>
	<key>textureFileName</key>
	<string>square.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
