<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<integer>360</integer>
	<key>angleVariance</key>
	<integer>360</integer>
	<key>blendFuncDestination</key>
	<string>1</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<integer>-1</integer>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<string>1.000</string>
	<key>finishColorBlue</key>
	<string>1.000</string>
	<key>finishColorGreen</key>
	<string>1.000</string>
	<key>finishColorRed</key>
	<string>1.000</string>
	<key>finishColorVarianceAlpha</key>
	<integer>0</integer>
	<key>finishColorVarianceBlue</key>
	<string>1.000</string>
	<key>finishColorVarianceGreen</key>
	<string>1.000</string>
	<key>finishColorVarianceRed</key>
	<string>1.000</string>
	<key>finishParticleSize</key>
	<string>3.00</string>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>0.77</string>
	<key>gravityy</key>
	<string>0.65</string>
	<key>maxParticles</key>
	<string>250.10</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<integer>0</integer>
	<key>particleLifespanVariance</key>
	<string>2.00</string>
	<key>radialAccelVariance</key>
	<integer>0</integer>
	<key>radialAcceleration</key>
	<string>65.61</string>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>sourcePositionVariancex</key>
	<string>9.780</string>
	<key>sourcePositionVariancey</key>
	<string>10.409</string>
	<key>sourcePositionx</key>
	<string>159.562</string>
	<key>sourcePositiony</key>
	<string>240.214</string>
	<key>speed</key>
	<string>124.74</string>
	<key>speedVariance</key>
	<string>364.78</string>
	<key>startColorAlpha</key>
	<string>0.022</string>
	<key>startColorBlue</key>
	<string>0.403</string>
	<key>startColorGreen</key>
	<string>0.479</string>
	<key>startColorRed</key>
	<string>0.397</string>
	<key>startColorVarianceAlpha</key>
	<string>0.000</string>
	<key>startColorVarianceBlue</key>
	<string>0.000</string>
	<key>startColorVarianceGreen</key>
	<string>0.000</string>
	<key>startColorVarianceRed</key>
	<string>0.000</string>
	<key>startParticleSize</key>
	<string>0.00</string>
	<key>startParticleSizeVariance</key>
	<string>15.22</string>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<integer>0</integer>
	<key>textureFileName</key>
	<string>star.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
